* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-wrap: wrap;
}

.Dashboard-container {
  flex-basis: 33.333333%;
  padding: 12px;
}

.Dashboard {
  box-shadow: 0 0 3px 3px silver;
  border-radius: 5px;
  text-align: center;
}

.Todo {
  margin: 12px;
  padding: 12px;
  border: 1px solid silver;
  border-radius: 5px;
  background-color: whitesmoke;
}

#newtodo {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: whitesmoke;
  font-size: 3em;
  cursor: pointer;
}